{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Usergate<br />
    121087, г. Москва, Береговой проезд, д. 5А, к. 1, 21 этаж.<br />
    <abbr title="Телефон">Т.:</abbr>
    8 800 500 4032
</address>

<address>
    <strong>Клиентам:</strong>   <a href="mailto:sales@usergate.com">sales@usergate.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:marketing@usergate.com">marketing@usergate.com</a>
</address>

{% endblock %}
